{% extends 'properties/base.html' %}
{% block content %}
<div class="container my-5">
  <div class="card shadow p-4 text-center">
    <h2>About propertySalesHub</h2>
    <p>A platform connecting property seekers with Estate Firms and verified agents in Nigeria.</p>
    <hr>
    <h5>Author</h5>
    <p><strong>Okeke John Arinze</strong><br>
    Phone: 08022224510<br>
    <a href="https://wa.me/2348022224510" class="btn btn-success mt-2">Chat Author on WhatsApp</a>
    </p>
    <div class="mt-3">
      <a href="{% url 'home' %}" class="btn btn-outline-primary">Back to Home</a>
    </div>
  </div>
</div>
{% endblock %}